{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
  <ul>
    {% for entry in object_list %}
    <li><a href="{% url 'matrix_chart' entry %}">{{entry.title}}</a></li>
    {% endfor %}
    <li><form id="new-matrix"><input name="title" type="text" /><button type="submit">New ...</button></form></li>
  </ul>
</div>
<div id="matrixChart">
  <div>
    <input type="text" name="title" style="display:inline-block" value="{{object}}">
    <button class="save">Update</button>
  </div>
  <div>
    <h3>Cohorts</h3>
    {% for entry in cohorts %}
    <div>
      <label for="{{forloop.counter}}">
        <input id="cohort-{{forloop.counter}}" type="checkbox" name="cohorts" value="{{entry.slug}}" {% if entry.is_selected %}checked{% endif %}>
        {{ entry }}
      </label>
      <a href="{% url 'accounts_list' entry %}">Edit</a>
    </div>
    {% endfor %}
    <div><form id="new-cohort"><input name="title" type="text" /><button type="submit">New ...</button></form></div>
  </div>
  <div>
    <h3>Metrics</h3>
    {% for entry in metrics %}
    <div>
      <label for="{{forloop.counter}}">
        <input id="metric-{{forloop.counter}}" type="radio" name="metric" value="{{entry.slug}}" {% if entry.is_selected %}checked{% endif %}>
        {{ entry }}
      </label>
      <a href="{% url 'questions_list' entry %}">Edit</a>
    </div>
    {% endfor %}
    <div><form id="new-metric"><input name="title" type="text" /><button type="submit">New ...</button></form></div>
  </div>
  <div id="chart">
    <svg><text x="50" y="100" font-family="Verdana">Loading ...</text></svg>
  </div>
</div>
{% endblock %}

{% block survey_bodyscripts %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/nv.d3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/matrix-chart.css' %}" />
<script type="text/javascript" charset="utf-8"
        src="{% static 'vendor/js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/nv.d3.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/matrix-chart.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/djaodjin-set.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/djaodjin-matrix.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#new-matrix").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"title\"]").val();
      $.ajax({
          method: "POST",
          url: "{% url 'matrix_api_base' %}",
          data: JSON.stringify({title: title, cohorts: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = "{% url 'matrix_base' %}" + data.slug;
          }
      });
      return false;
  });
  $("#new-cohort").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{editable_filter_api_base}}",
          data: JSON.stringify({title: title, tags: "cohort", predicates: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = "{% url 'accounts_base' %}" + data.slug;
          }
      });
      return false;
  });
  $("#new-metric").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{editable_filter_api_base}}",
          data: JSON.stringify({title: title, tags: "metric", predicates: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = "{% url 'questions_base' %}" + data.slug;
          }
      });
      return false;
  });
  $("#matrixChart").djmatrixChart({
      editable_filter_api: "{{editable_filter_api_base}}",
      matrix_api: "{{matrix_api}}"
  });
});
</script>
{% endblock %}
