{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
  <ul>
    <li><a href="{% url 'matrix_base' %}">Charts</a></li>
  </ul>
</div>
<div id="categorize">
  <div>
    <input type="text" name="title" style="display:inline-block">
    <button class="save">Update</button>
  </div>
  <div class="dj-predicates">
    <div class="dj-predicate-template">
        <select class="selector">
          <option value="removematching">Remove matching</option>
          <option value="reinclude">Reinclude matching from full set</option>
          <option value="keepmatching">Keep Matching</option>
          <option value="includeall">Include all</option>
          <option value="removeall">Remove all</option>
        </select>
        <select class="field">
        </select>
        <select class="operator">
        </select>
        <input class="operand" type="text">
        <button class="delete">Remove predicate</button>
    </div>
  </div>
  <div>
    <button class="add-predicate">Add predicate</button>
  </div>
  <div>
    <table class="dj-table table table-striped table-condensed">
    </table>
  </div>
</div>
{% endblock %}

{% block survey_bodyscripts %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/nv.d3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/matrix-chart.css' %}" />
<script type="text/javascript" src="{% static 'vendor/bootstrap.js' %}"></script>
<script type="text/javascript" charset="utf-8"
        src="{% static 'vendor/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/nv.d3.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/djaodjin-set.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/djaodjin-categorize.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  var csrf_token = "{{csrf_token}}";
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
      }
  });


  $('#categorize').djcategorize({
     editable_filter_api: "{{editable_filter_api}}",
     objects_api: "{{objects_api}}"
  });

});
</script>
{% endblock %}
