{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div id="categorize">



  
</div>
{% endblock %}

{% block bodyscripts %}




<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/nv.d3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/matrix-chart.css' %}" />
<script type="text/javascript" src="{% static 'vendor/js/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script type="text/javascript" charset="utf-8"
        src="{% static 'vendor/js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/nv.d3.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/djaodjin-categorize.js' %}"></script>

<script type="text/javascript">

var fakeData = [{
  "id": "4e80e5a2-99a2-44a3-a878-211e60ec7f88",
  "gender": "Male",
  "first_name": "Justin",
  "last_name": "Duncan",
  "email": "jduncan0@wordpress.com",
  "country": "Spain"
}, {
  "id": "5e0851c0-61f5-4f3c-805d-5e65f55c818c",
  "gender": "Female",
  "first_name": "Dorothy",
  "last_name": "Armstrong",
  "email": "darmstrong1@ftc.gov",
  "country": "Philippines"
}, {
  "id": "626a6b96-ab18-4de5-838b-d70d1d6cb41b",
  "gender": "Male",
  "first_name": "Phillip",
  "last_name": "Harvey",
  "email": "pharvey2@alibaba.com",
  "country": "Afghanistan"
}, {
  "id": "ca7356ca-6b5b-4d7b-8ea3-6a1338c88600",
  "gender": "Female",
  "first_name": "Doris",
  "last_name": "Howard",
  "email": "dhoward3@people.com.cn",
  "country": "France"
}, {
  "id": "4f2ba29e-5c3c-4e9f-a3b8-1f46d93e7309",
  "gender": "Male",
  "first_name": "Howard",
  "last_name": "Powell",
  "email": "hpowell4@dyndns.org",
  "country": "China"
}, {
  "id": "4bec504a-1405-4e57-aa0c-e8859979ffbf",
  "gender": "Female",
  "first_name": "Bonnie",
  "last_name": "Morales",
  "email": "bmorales5@china.com.cn",
  "country": "Armenia"
}, {
  "id": "21e2ed39-208c-467f-a239-9dc2f06246b3",
  "gender": "Male",
  "first_name": "Billy",
  "last_name": "Rodriguez",
  "email": "brodriguez6@blogs.com",
  "country": "Greece"
}, {
  "id": "112c0a28-1093-47d5-a113-2c0959e87258",
  "gender": "Male",
  "first_name": "Earl",
  "last_name": "Holmes",
  "email": "eholmes7@odnoklassniki.ru",
  "country": "Philippines"
}, {
  "id": "35167235-a526-412a-aaa3-37bcef424d61",
  "gender": "Male",
  "first_name": "Brian",
  "last_name": "Ray",
  "email": "bray8@cbc.ca",
  "country": "China"
}, {
  "id": "c2eef403-9c79-476f-970f-77f6789470bc",
  "gender": "Male",
  "first_name": "Jason",
  "last_name": "Murphy",
  "email": "jmurphy9@scribd.com",
  "country": "Finland"
}, {
  "id": "fb891d73-ff78-4eb6-8a8c-2a12a707bf98",
  "gender": "Female",
  "first_name": "Tammy",
  "last_name": "Ortiz",
  "email": "tortiza@samsung.com",
  "country": "Uzbekistan"
}, {
  "id": "7c748646-5db2-4611-93cc-8b3d5089497f",
  "gender": "Male",
  "first_name": "Kenneth",
  "last_name": "Turner",
  "email": "kturnerb@multiply.com",
  "country": "Poland"
}, {
  "id": "5ab6647f-860f-4d77-a587-05c5d9d5bfec",
  "gender": "Female",
  "first_name": "Anne",
  "last_name": "Morales",
  "email": "amoralesc@chron.com",
  "country": "Zambia"
}, {
  "id": "be4b9a41-9c56-4b76-960a-e894c456b304",
  "gender": "Male",
  "first_name": "George",
  "last_name": "Ferguson",
  "email": "gfergusond@elegantthemes.com",
  "country": "Vietnam"
}, {
  "id": "bdce49e4-d1a5-47c9-96f8-65938a93afbe",
  "gender": "Female",
  "first_name": "Wanda",
  "last_name": "Murphy",
  "email": "wmurphye@biglobe.ne.jp",
  "country": "China"
}, {
  "id": "59c761e6-fd92-4db3-a40c-c3d735a07616",
  "gender": "Female",
  "first_name": "Janice",
  "last_name": "Johnston",
  "email": "jjohnstonf@cpanel.net",
  "country": "Lithuania"
}, {
  "id": "d6df9065-5f46-4381-8294-aa417e6fc038",
  "gender": "Female",
  "first_name": "Rachel",
  "last_name": "Roberts",
  "email": "rrobertsg@newyorker.com",
  "country": "China"
}, {
  "id": "8d6d867d-c884-4f56-bc90-b7cf998ff965",
  "gender": "Female",
  "first_name": "Virginia",
  "last_name": "Green",
  "email": "vgreenh@oakley.com",
  "country": "Japan"
}, {
  "id": "7fe47896-fc29-4522-a052-551ebdced63b",
  "gender": "Female",
  "first_name": "Wanda",
  "last_name": "Lewis",
  "email": "wlewisi@elegantthemes.com",
  "country": "Brazil"
}, {
  "id": "d554e406-bb09-4f2a-9b0c-cb5861cb4900",
  "gender": "Female",
  "first_name": "Ruby",
  "last_name": "Cook",
  "email": "rcookj@people.com.cn",
  "country": "Japan"
}, {
  "id": "af27aadd-c715-4f22-84a1-e604015e68b8",
  "gender": "Male",
  "first_name": "Jonathan",
  "last_name": "Simmons",
  "email": "jsimmonsk@blogtalkradio.com",
  "country": "Poland"
}, {
  "id": "9b07fa7b-1c75-44d2-a450-455697bffeb6",
  "gender": "Female",
  "first_name": "Rebecca",
  "last_name": "Diaz",
  "email": "rdiazl@cnet.com",
  "country": "Mexico"
}, {
  "id": "809b200c-1f12-485d-bb8b-dbb818ed96e7",
  "gender": "Female",
  "first_name": "Alice",
  "last_name": "Lee",
  "email": "aleem@homestead.com",
  "country": "Czech Republic"
}, {
  "id": "3666f4cd-3c0e-4d63-9d2e-f04cf1fe9a92",
  "gender": "Male",
  "first_name": "Billy",
  "last_name": "Stanley",
  "email": "bstanleyn@chron.com",
  "country": "Russia"
}, {
  "id": "7c3cf0e6-f5fb-414d-9ead-87f1419da364",
  "gender": "Male",
  "first_name": "Timothy",
  "last_name": "Rice",
  "email": "triceo@dagondesign.com",
  "country": "Indonesia"
}, {
  "id": "39a73f76-5c2f-46dd-97f2-eac81996673e",
  "gender": "Female",
  "first_name": "Linda",
  "last_name": "Hughes",
  "email": "lhughesp@army.mil",
  "country": "China"
}, {
  "id": "c3127018-a313-4604-9e66-84bf20f26845",
  "gender": "Female",
  "first_name": "Julia",
  "last_name": "Carr",
  "email": "jcarrq@t.co",
  "country": "Liberia"
}, {
  "id": "051af761-dca6-489f-8606-9f27dd20d4e3",
  "gender": "Female",
  "first_name": "Catherine",
  "last_name": "Bradley",
  "email": "cbradleyr@howstuffworks.com",
  "country": "United States"
}, {
  "id": "d43bee97-b6d7-4b54-92ab-ecec845daad7",
  "gender": "Female",
  "first_name": "Katherine",
  "last_name": "Woods",
  "email": "kwoodss@wikia.com",
  "country": "Morocco"
}, {
  "id": "1456ab74-a35d-45d9-8001-915ee5e3c2ca",
  "gender": "Female",
  "first_name": "Kimberly",
  "last_name": "Hayes",
  "email": "khayest@privacy.gov.au",
  "country": "China"
}, {
  "id": "4bc48619-d6f0-42db-8af3-720a64f42ff9",
  "gender": "Male",
  "first_name": "Larry",
  "last_name": "Allen",
  "email": "lallenu@qq.com",
  "country": "Portugal"
}, {
  "id": "7bf757ef-6e62-4da2-808d-36db808202f7",
  "gender": "Male",
  "first_name": "Craig",
  "last_name": "Hamilton",
  "email": "chamiltonv@seesaa.net",
  "country": "Ukraine"
}, {
  "id": "0b38c927-f915-4a7b-975c-8412a21380f7",
  "gender": "Male",
  "first_name": "Bobby",
  "last_name": "Freeman",
  "email": "bfreemanw@cisco.com",
  "country": "Malaysia"
}, {
  "id": "a5bf7c04-8e19-432b-a6cc-a26d1a934587",
  "gender": "Female",
  "first_name": "Cynthia",
  "last_name": "Holmes",
  "email": "cholmesx@nbcnews.com",
  "country": "Sweden"
}, {
  "id": "480958ca-a5b8-441e-9256-8363f56bc363",
  "gender": "Female",
  "first_name": "Emily",
  "last_name": "Ramirez",
  "email": "eramirezy@hostgator.com",
  "country": "Chile"
}, {
  "id": "3eb8341a-a52a-494f-9e27-2130d68e8c49",
  "gender": "Female",
  "first_name": "Diana",
  "last_name": "Hansen",
  "email": "dhansenz@etsy.com",
  "country": "Portugal"
}, {
  "id": "14cceeac-4c21-457b-8ce0-8da2e77510a4",
  "gender": "Male",
  "first_name": "Brandon",
  "last_name": "Romero",
  "email": "bromero10@oracle.com",
  "country": "Indonesia"
}, {
  "id": "f9a47fab-88c9-44d7-8cff-37dd66a44f5e",
  "gender": "Female",
  "first_name": "Jean",
  "last_name": "Reid",
  "email": "jreid11@nhs.uk",
  "country": "Nigeria"
}, {
  "id": "f50040e7-0e85-4557-827c-3dcea77b788b",
  "gender": "Male",
  "first_name": "Keith",
  "last_name": "Burke",
  "email": "kburke12@cpanel.net",
  "country": "Sweden"
}, {
  "id": "dd621bad-a21e-4efb-8662-6d87376c6510",
  "gender": "Female",
  "first_name": "Laura",
  "last_name": "Williamson",
  "email": "lwilliamson13@europa.eu",
  "country": "Portugal"
}, {
  "id": "537d407d-80b7-4754-b8e0-df9f0b34d587",
  "gender": "Female",
  "first_name": "Julia",
  "last_name": "Romero",
  "email": "jromero14@blogspot.com",
  "country": "Czech Republic"
}, {
  "id": "13058234-839a-499d-943b-3adedc6a39e4",
  "gender": "Female",
  "first_name": "Sandra",
  "last_name": "Ross",
  "email": "sross15@sfgate.com",
  "country": "Indonesia"
}, {
  "id": "cd4eb8fd-7c6e-49e6-89d2-e0fb3235ea3b",
  "gender": "Female",
  "first_name": "Helen",
  "last_name": "Shaw",
  "email": "hshaw16@de.vu",
  "country": "Portugal"
}, {
  "id": "8ee7c069-0957-4b1e-b67c-012079598da3",
  "gender": "Male",
  "first_name": "Raymond",
  "last_name": "Gardner",
  "email": "rgardner17@mail.ru",
  "country": "Canada"
}, {
  "id": "4f673f3e-1a5c-45c8-ac40-965f9335f884",
  "gender": "Female",
  "first_name": "Denise",
  "last_name": "Graham",
  "email": "dgraham18@1688.com",
  "country": "Ivory Coast"
}, {
  "id": "94cab485-c393-42bd-bf13-788c58240663",
  "gender": "Male",
  "first_name": "Louis",
  "last_name": "Dunn",
  "email": "ldunn19@china.com.cn",
  "country": "China"
}, {
  "id": "d7fd950e-bfd4-439c-a14a-3b058f88378c",
  "gender": "Male",
  "first_name": "Jonathan",
  "last_name": "Stone",
  "email": "jstone1a@privacy.gov.au",
  "country": "Ukraine"
}, {
  "id": "60979f7f-68f6-42ce-bff1-dee6b21e02bd",
  "gender": "Male",
  "first_name": "Keith",
  "last_name": "Martinez",
  "email": "kmartinez1b@rediff.com",
  "country": "Sudan"
}, {
  "id": "55d2ae5b-f2e6-45dd-8f39-769704e1fc24",
  "gender": "Female",
  "first_name": "Angela",
  "last_name": "Hunt",
  "email": "ahunt1c@dailymotion.com",
  "country": "Serbia"
}, {
  "id": "b867c475-28df-45ba-93a6-1bb2a77726a3",
  "gender": "Female",
  "first_name": "Joyce",
  "last_name": "Turner",
  "email": "jturner1d@cyberchimps.com",
  "country": "France"
}, {
  "id": "73329fc9-3891-46ef-bc55-db7be6f68721",
  "gender": "Male",
  "first_name": "Joseph",
  "last_name": "Martin",
  "email": "jmartin1e@about.me",
  "country": "Sweden"
}, {
  "id": "c9bde43a-0cd9-4b7c-a10e-50701deb0a1a",
  "gender": "Female",
  "first_name": "Rose",
  "last_name": "Dixon",
  "email": "rdixon1f@sourceforge.net",
  "country": "Thailand"
}, {
  "id": "36a56da8-a6e3-409b-8681-95add7d77376",
  "gender": "Male",
  "first_name": "Frank",
  "last_name": "Griffin",
  "email": "fgriffin1g@sciencedirect.com",
  "country": "Lithuania"
}, {
  "id": "8f2e771f-9820-419c-bd16-a3db8b31a6f7",
  "gender": "Female",
  "first_name": "Judith",
  "last_name": "Dean",
  "email": "jdean1h@sourceforge.net",
  "country": "India"
}, {
  "id": "05acdc6e-1937-42cd-b213-e4e429efe6a5",
  "gender": "Female",
  "first_name": "Rose",
  "last_name": "Garrett",
  "email": "rgarrett1i@icio.us",
  "country": "China"
}, {
  "id": "f2b42423-aec8-4949-8660-b1bb5a4598ce",
  "gender": "Male",
  "first_name": "David",
  "last_name": "Johnson",
  "email": "djohnson1j@google.it",
  "country": "Russia"
}, {
  "id": "dcec197b-4d42-4c9f-b0a9-7ea236898fa3",
  "gender": "Female",
  "first_name": "Mary",
  "last_name": "Bennett",
  "email": "mbennett1k@cmu.edu",
  "country": "Poland"
}, {
  "id": "fc624c61-88ee-4244-97ca-8b3b3b11ef85",
  "gender": "Male",
  "first_name": "Arthur",
  "last_name": "Morales",
  "email": "amorales1l@cbsnews.com",
  "country": "Nigeria"
}, {
  "id": "256bfab9-4699-49c2-8156-884dafd83921",
  "gender": "Male",
  "first_name": "Peter",
  "last_name": "Day",
  "email": "pday1m@joomla.org",
  "country": "Bosnia and Herzegovina"
}, {
  "id": "fa3ff222-f468-4d2e-91a5-7ec607d3ae2a",
  "gender": "Male",
  "first_name": "Daniel",
  "last_name": "Hernandez",
  "email": "dhernandez1n@360.cn",
  "country": "China"
}, {
  "id": "4e49fb8b-8b80-473e-85f7-5afb9ece8dd8",
  "gender": "Male",
  "first_name": "Joshua",
  "last_name": "Gomez",
  "email": "jgomez1o@yellowbook.com",
  "country": "Brazil"
}, {
  "id": "d4084aa4-5798-4a81-9c29-bffa4af21a7c",
  "gender": "Male",
  "first_name": "Andrew",
  "last_name": "Murray",
  "email": "amurray1p@edublogs.org",
  "country": "Ireland"
}, {
  "id": "b228ff93-c059-4c6f-b49e-d18f2b597076",
  "gender": "Female",
  "first_name": "Janet",
  "last_name": "Stewart",
  "email": "jstewart1q@ihg.com",
  "country": "Brazil"
}, {
  "id": "1abbd59a-931b-4022-a4eb-7c0ba394ae97",
  "gender": "Male",
  "first_name": "Arthur",
  "last_name": "Hanson",
  "email": "ahanson1r@blogspot.com",
  "country": "Brazil"
}, {
  "id": "a8deafc0-4338-4f1b-83a4-b5101b09e3c2",
  "gender": "Male",
  "first_name": "Joe",
  "last_name": "Wood",
  "email": "jwood1s@behance.net",
  "country": "Philippines"
}, {
  "id": "0172e27a-63bf-40ff-94df-30be5cfb2045",
  "gender": "Male",
  "first_name": "George",
  "last_name": "Young",
  "email": "gyoung1t@posterous.com",
  "country": "China"
}, {
  "id": "e58f75c3-4a79-46c0-92da-ff82a7b13120",
  "gender": "Male",
  "first_name": "Sean",
  "last_name": "Payne",
  "email": "spayne1u@ning.com",
  "country": "Brazil"
}, {
  "id": "6106eebf-76d2-47f1-8f82-55409a03a348",
  "gender": "Female",
  "first_name": "Paula",
  "last_name": "Evans",
  "email": "pevans1v@bloglines.com",
  "country": "South Africa"
}, {
  "id": "f30f1398-de9d-41fb-a60c-501536c96902",
  "gender": "Male",
  "first_name": "Wayne",
  "last_name": "Ferguson",
  "email": "wferguson1w@chronoengine.com",
  "country": "Brazil"
}, {
  "id": "a36efaec-aa32-4d0c-ab02-d5a8fe70a61f",
  "gender": "Male",
  "first_name": "Jonathan",
  "last_name": "Gonzalez",
  "email": "jgonzalez1x@ca.gov",
  "country": "Indonesia"
}, {
  "id": "dd518479-9280-49d9-9328-e929e1ce8328",
  "gender": "Female",
  "first_name": "Shirley",
  "last_name": "Franklin",
  "email": "sfranklin1y@ezinearticles.com",
  "country": "Indonesia"
}, {
  "id": "28947f52-36ac-4ab0-80c4-b94e95cea725",
  "gender": "Male",
  "first_name": "Fred",
  "last_name": "Riley",
  "email": "friley1z@goodreads.com",
  "country": "Colombia"
}, {
  "id": "a35b6ca4-407e-4a03-aed5-6cf8e4075336",
  "gender": "Male",
  "first_name": "Ernest",
  "last_name": "Patterson",
  "email": "epatterson20@ucoz.com",
  "country": "Colombia"
}, {
  "id": "9ad75caa-5f93-4742-bfc0-9a0a2d66b617",
  "gender": "Male",
  "first_name": "James",
  "last_name": "Hamilton",
  "email": "jhamilton21@w3.org",
  "country": "Kyrgyzstan"
}, {
  "id": "b1f6b7d5-8713-44d3-99ea-b19f3ef00d5d",
  "gender": "Male",
  "first_name": "Kevin",
  "last_name": "Bailey",
  "email": "kbailey22@sphinn.com",
  "country": "Indonesia"
}, {
  "id": "59ce738d-0f57-4240-b163-b1f5b7a3a80d",
  "gender": "Female",
  "first_name": "Rebecca",
  "last_name": "Cruz",
  "email": "rcruz23@cbc.ca",
  "country": "Bulgaria"
}, {
  "id": "14c9a929-982f-459d-a7bb-21f84dd99730",
  "gender": "Female",
  "first_name": "Brenda",
  "last_name": "Reynolds",
  "email": "breynolds24@spiegel.de",
  "country": "United Kingdom"
}, {
  "id": "ae171088-4ba5-4c48-a64f-c603984e41c2",
  "gender": "Male",
  "first_name": "Keith",
  "last_name": "Mccoy",
  "email": "kmccoy25@time.com",
  "country": "United States"
}, {
  "id": "2103439a-2ad4-4ee6-81b3-554c868b08a4",
  "gender": "Male",
  "first_name": "Joe",
  "last_name": "Thompson",
  "email": "jthompson26@geocities.com",
  "country": "Greece"
}, {
  "id": "e6195913-3a21-43d4-ae9c-9bfe509469d0",
  "gender": "Male",
  "first_name": "Martin",
  "last_name": "Morales",
  "email": "mmorales27@upenn.edu",
  "country": "Argentina"
}, {
  "id": "6aae0882-11e6-4959-b2af-dc356198fc99",
  "gender": "Female",
  "first_name": "Carol",
  "last_name": "Washington",
  "email": "cwashington28@behance.net",
  "country": "Yemen"
}, {
  "id": "6aff696b-5a1c-4faf-a379-6ba13c9f1066",
  "gender": "Female",
  "first_name": "Gloria",
  "last_name": "Fisher",
  "email": "gfisher29@illinois.edu",
  "country": "Canada"
}, {
  "id": "38a5fb2f-0d81-49bf-aac5-8e2bbefdc2bd",
  "gender": "Female",
  "first_name": "Virginia",
  "last_name": "Carroll",
  "email": "vcarroll2a@nydailynews.com",
  "country": "Greece"
}, {
  "id": "3d31a386-f7bf-4525-8658-f493d8cdc76c",
  "gender": "Male",
  "first_name": "Kevin",
  "last_name": "Ramirez",
  "email": "kramirez2b@hc360.com",
  "country": "United States"
}, {
  "id": "51e68065-496f-4451-a50a-4d733dcba185",
  "gender": "Female",
  "first_name": "Jane",
  "last_name": "Morris",
  "email": "jmorris2c@latimes.com",
  "country": "Germany"
}, {
  "id": "21c195a9-0f0a-4d00-9b11-712e7e674b1f",
  "gender": "Female",
  "first_name": "Kathryn",
  "last_name": "Hayes",
  "email": "khayes2d@newsvine.com",
  "country": "Belarus"
}, {
  "id": "d1571b37-d5c3-4fdd-9815-684dcd7abb4f",
  "gender": "Female",
  "first_name": "Melissa",
  "last_name": "Burns",
  "email": "mburns2e@is.gd",
  "country": "Peru"
}, {
  "id": "134fdbf6-82d5-40df-b686-0c41394cfa7a",
  "gender": "Female",
  "first_name": "Catherine",
  "last_name": "Stewart",
  "email": "cstewart2f@nbcnews.com",
  "country": "Sweden"
}, {
  "id": "bef73ac3-9121-43be-a15c-52361f539b9f",
  "gender": "Male",
  "first_name": "Peter",
  "last_name": "Ramirez",
  "email": "pramirez2g@bluehost.com",
  "country": "Bangladesh"
}, {
  "id": "3a0c13e5-db98-410e-95a2-c4af9855c0a5",
  "gender": "Male",
  "first_name": "Harry",
  "last_name": "Ramos",
  "email": "hramos2h@paginegialle.it",
  "country": "China"
}, {
  "id": "9f5260f5-1d77-4db1-a737-8cbc87c88474",
  "gender": "Male",
  "first_name": "Russell",
  "last_name": "Carter",
  "email": "rcarter2i@sfgate.com",
  "country": "China"
}, {
  "id": "887711e7-6714-4ca1-a41b-1de32596dced",
  "gender": "Male",
  "first_name": "Donald",
  "last_name": "Richards",
  "email": "drichards2j@paypal.com",
  "country": "Greece"
}, {
  "id": "fe3f119e-1b11-4c22-b652-8014b20a7ed7",
  "gender": "Male",
  "first_name": "George",
  "last_name": "Fox",
  "email": "gfox2k@woothemes.com",
  "country": "Indonesia"
}, {
  "id": "28dbf424-7284-431d-9afd-91871229cd67",
  "gender": "Male",
  "first_name": "Fred",
  "last_name": "Washington",
  "email": "fwashington2l@cyberchimps.com",
  "country": "Brazil"
}, {
  "id": "e508bbf1-aa4b-4a00-92d5-0066c4ef74f0",
  "gender": "Female",
  "first_name": "Tina",
  "last_name": "Kelley",
  "email": "tkelley2m@earthlink.net",
  "country": "Ukraine"
}, {
  "id": "4b6f605c-7074-4ae3-9061-64ab65017375",
  "gender": "Male",
  "first_name": "Aaron",
  "last_name": "Sims",
  "email": "asims2n@opera.com",
  "country": "Peru"
}, {
  "id": "ad00bf88-6383-49d1-a36e-dd03e159e2d0",
  "gender": "Male",
  "first_name": "Bobby",
  "last_name": "Reid",
  "email": "breid2o@virginia.edu",
  "country": "Brazil"
}, {
  "id": "499c9eb4-be12-42fb-9d34-5e683f63ec0b",
  "gender": "Female",
  "first_name": "Marie",
  "last_name": "Day",
  "email": "mday2p@psu.edu",
  "country": "Portugal"
}, {
  "id": "98833c42-1df2-468f-b09c-48d242e4d4ed",
  "gender": "Male",
  "first_name": "Antonio",
  "last_name": "Burton",
  "email": "aburton2q@weather.com",
  "country": "Philippines"
}, {
  "id": "87e142c5-ce16-45b2-b547-f5ecf19c26cd",
  "gender": "Female",
  "first_name": "Karen",
  "last_name": "Walker",
  "email": "kwalker2r@ucoz.com",
  "country": "Greece"
}];

$(document).ready(function() {

jQuery(document).ready(function($) {

    $.ajax({
        method: "GET",
        url: "/matrix/api/categorize",
        datatype: "json",
        contentType: "application/json; charset=utf-8",
        success: function(response) {
            console.log(response)
  $('#categorize').djcategorize({
name_key: 'email',
data: fakeData,
data_key: "id"
});


        }
    });
});



});
</script>

{% endblock %}
