{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div>

  <select id="portfolio" multiple="multiple">
  </select>
  <select id="questioncategory">

  </select>
  <div id="chart">
    <svg></svg>

  </div>
  
</div>
{% endblock %}

{% block bodyscripts %}

<script type="text/javascript">
  var portfolio_api = '{{portfolio_api}}';
  var questioncategory_api = '{{questioncategory_api}}';
</script>


<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/nv.d3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/matrix-chart.css' %}" />
<script type="text/javascript" src="{% static 'vendor/js/jquery.js'%}"></script>
<script type="text/javascript" charset="utf-8"
        src="{% static 'vendor/js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/nv.d3.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/matrix-chart.js' %}"></script>

<script type="text/javascript"
        src="{% static 'js/djaodjin-set.js' %}"></script>

<script type="text/javascript"
        src="{% static 'js/djaodjin-matrix.js' %}"></script>


{% endblock %}
