{% extends "base.html" %}

{% block content %}
<section>
	<div>
		<h1>Questions for {{campaign.title}}</h1>
	</div>

	<p><a href="{% url 'survey_question_new' campaign %}">Add a question</a></p>
	<table>
		<tr>
			<th>Question</th>
			<th>Type</th>
			<th>Choices</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Order up</th>
			<th>Order down</th>
			<th>Order</th>
		</tr>
		{% if enumeratedquestions_list %}
		{% for campaign_question in enumeratedquestions_list %}
		<tr>
			<td>{{campaign_question.question.text}}</td>
			<td>{{campaign_question.question.ui_hint}}</td>
			<td>{% if campaign_question.question.choices %}{{campaign_question.question.choices}}{% else %}N/A{% endif %}</td>
			<td><a href="{% url 'survey_question_edit' campaign campaign_question.rank %}" >Edit</a></td>
			<td>
				<form method="post" action="{% url 'survey_question_delete' campaign campaign_question.rank %}">
					<input type="submit" value="Delete" />
					{% csrf_token %}
				</form>
			</td>
			<td>
				<form method="post" action="{% url 'survey_question_up' campaign campaign_question.rank %}">
					<input type="submit" value="Up" />
					{% csrf_token %}
				</form>
			</td>
			<td>
				<form method="post" action="{% url 'survey_question_down' campaign campaign_question.rank %}">
					<input type="submit" value="Down" />
					{% csrf_token %}
				</form>
			</td>
			<td>{{campaign_question.question.rank}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<em>No question for campaign titled &quot;{{campaign.title}}&quot;</em>
	{% endif %}
</section>
{% endblock %}
