{% extends "base.html" %}

{% block content %}
<div>
  <h1>Welcome to {{campaign.title}}</h1>
  <div>
    {{campaign.description|safe}}
  </div>
  <div>
  {% if campaign.active %}
  {% if rank %}<span>#{{rank}}</span>{% endif %}
    <form method="post" action=".">
      {% csrf_token %}
      <div>
        <input type="submit" name="submit" value="Start">
      </div>
    </form>
  {% else %}
    <em>Sorry, this {% if campaign.quizz_mode %}quizz{% else %}survey{% endif %} is no longer available. Thank you.</em>
  {% endif %}
  </div>
</div>
{% endblock %}
