{% extends "base.html" %}

{% block content %}
<section>
	<h1>Campaigns</h1>
	{% if campaign_list %}
	<table>
	<tbody>
	{% for survey in campaign_list %}
	<tr href="#{{survey}}">
		<td>{{survey.title}}</td>
		<td>{{survey.description}}</td>
		<td><a {% if survey.active %}disabled="true"{% endif %} href="{% url 'survey_edit' survey %}">Edit</a></td>
		<td><a href="{% url 'survey_question_list' survey %}" >Questions</a></td>
		<td>
			<form method="post" action="{% url 'survey_publish' survey %}">
				<input type="submit" {% if not survey.has_questions %}disabled="true"{% endif %} value="{% if survey.active %}Unpublish{% else %}Publish{% endif %}" />
				{% csrf_token %}
			</form>
		</td>
		<td>
			<a href="{% url 'survey_send' survey %}" {% if not survey.active %}disabled="true"{% endif %}>Send</a>
		</td>
		<td>
			<a href="{% url 'survey_result' survey %}">Results</a>
		</td>
		<td>
			<form method="post" action="delete">
				<button type="submit" {% if survey.active %}disabled="true"{% endif %} value="Delete" />
				{% csrf_token %}
			</form>
		</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
	<em>No survey</em>
	{% endif %}
</section>
{% endblock %}

