Django==3.0.1
django-extra-views==0.13.0
djangorestframework==3.9.4

# testsite-only
django-debug-toolbar==1.11
django-extensions==2.1.4
django-urldecorators==0.6

# development
Sphinx==1.7.5
sphinxcontrib-httpdomain==1.6.1
